CONFIG_X86=y
CONFIG_VENDOR_INTEL=y
CONFIG_TARGET_EDISON=y
CONFIG_DEFAULT_DEVICE_TREE="edison"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NFS is not set
# CONFIG_X86_SERIAL is not set
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_PCI=y
CONFIG_DM_RTC=y
CONFIG_USE_PRIVATE_LIBGCC=y
CONFIG_SYS_VSNPRINTF=y
CONFIG_INTEL_SCU=y
CONFIG_TANGIER_SERIAL=y
CONFIG_SYS_TNG_SERIAL2=y
CONFIG_TANGIER_SDHCI=y
