if TARGET_EDISON

config SYS_BOARD
	default "edison"

config SYS_VENDOR
	default "intel"

config SYS_SOC
	default "tangier"

config SYS_CONFIG_NAME
	default "edison"

config SYS_TEXT_BASE
	default 0x1101000

config FASTBOOT_VERIFY_GPT_PARTITIONS
	bool "Verify GPT information before flashing it to device"
	default n
	help
	  This option enables specific board verification code that
	  checks if the data provided to "fastboot flash gpt" command
	  can be flashed or not.

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select INTEL_SCU
	select INTEL_TANGIER

endif
